<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center mb-5 mt-5  bg-primary text-wrap border border-secondary border-2 shadow-lg">
      <h1>BOOKSTORE</h1>
    </div>
    <div class="col-8 offset-2 mb-5 p-6">
      <img src="../assets/img/book.jpg"  class="img-fluid border border-secondary border-2 shadow-lg" alt="Main page books picture">
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
          Registered users: <b>{{ userCount$ | async }}</b>
          <button routerLink="/users" class="btn btn-primary d-block mt-3">Users</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
          Available categories: <b>{{ categoryCount$ | async }}</b>
          <button routerLink="/categories" class="btn btn-primary d-block mt-3">Categories</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
          Available authors: <b>{{ authorCount$ | async }}</b>
          <button routerLink="/authors" class="btn btn-primary d-block mt-3">Authors</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body">
          Available books: <b>{{ bookCount$ | async }}</b>
          <button routerLink="/books" class="btn btn-primary d-block mt-3">Books</button>
        </div>
      </div>
    </div>
  </div>
</div>
