<div class="container-fluid">
  <div class="row justify-content-center">
    <div *ngIf="(book$ | async) as book" class="col-12 col-md-6 col-xl-4 mt-5">
      <form #bookForm="ngForm" (ngSubmit)="onSave(book)">
        <div>
          <label class="form-label">Title</label>
          <input [(ngModel)]="book.title" name="title" type="text" class="form-control" required>
        </div>
        <div class="mt-2">
          <label class="form-label">Description</label>
          <textarea [(ngModel)]="book.description" name="description" class="form-control"></textarea>
        </div>
        <div class="mt-2">
          <label class="form-label">Price</label>
          <div class="input-group">
            <input [(ngModel)]="book.price" name="price" type="number" class="form-control" required min=0>
            <span class="input-group-text">Ft</span>
          </div>
        </div>
        <div class="mt-2">
          <label class="form-label">Quantity</label>
          <input [(ngModel)]="book.quantity" name="quantity" type="number" class="form-control" required min=0>
        </div>
        <div class="mt-2">
          <label class="form-label">Author</label>
          <select [(ngModel)]="book.author" name="author" class="form-select" required>
            <option *ngFor="let author of (authors$ | async)" [value]="author._id">{{ author | authorName }}</option>
          </select>
        </div>
        <div class="mt-2">
          <label class="form-label">Category</label>
          <select [(ngModel)]="book.category" name="category" class="form-select">
            <option [ngValue]="null">-</option>
            <option *ngFor="let category of (categories$ | async)" [value]="category._id">{{ category.name }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary col-12 mt-4" [disabled]="bookForm.form.invalid">
          <i class="fas fa-save"></i>
        </button>
        <p class="alert alert-danger mt-3" *ngIf="error">{{ error }}</p>
      </form>
    </div>
  </div>
</div>