<div class="card my-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i><span>{{ title }}</span></div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of tableColumns"> {{ col.title }} </th>
          <th *ngIf="buttonsAvailable"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th *ngFor="let col of tableColumns"> {{ col.title }} </th>
          <th *ngIf="buttonsAvailable"></th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let row of list$ | async">
          <td *ngFor="let col of tableColumns">
            <span>{{ col.value(row) }}</span>
          </td>
          <td *ngIf="buttonsAvailable" class="button-col">
            <div class="btn-group">
              <button *ngIf="editAvailable" (click)="onEdit(row)" class="btn btn-info ms-2">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button *ngIf="deleteAvailable" (click)="onDelete(row)" class="btn btn-danger ms-2">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
        <!-- Betöltés ikon -->
        <div *ngIf="!(list$ | async) " class="fa-3x col-12 text-center">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
  </div>
</div>
